/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-text-weight);
  display: grid;
  justify-items: center;
  font-size: 18px;
  background-color: var(--page-background-color);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.page__content {
  inline-size: var(--content-width);
  background-color: var(--background-color);
  border: var(--border);

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0;
  margin: 100px 0;
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  gap: 20px;
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.page__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.card-list {
  display: grid;
  gap: 50px;
}

.card {
  display: grid;
}

.card__title {
  display: flex;
  font-size: inherit;
  font-variation-settings: 'wght' var(--title-weight);
  padding: 4px 10px;
  align-items: center;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-block-end: 25px;
}

.card__content > *:not(.card__image-wrapper) {
  padding: 0 25px;
}

.card__image-wrapper {
  position: relative;
  border-block-start: var(--border);
  border-block-end: var(--border);
}

.card__image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.filter-grayscale {
  filter: grayscale(30%);
}

.filter-saturate {
  filter: brightness(70%) saturate(70%);
}

.filter-contrast {
  filter: brightness(70%) contrast(60%);
}

.filter-blur {
  filter: brightness(70%) blur(1px);
}

.filter-sepia {
  filter: brightness(70%) sepia(50%);
}

.filter-hue-rotate {
  filter: brightness(70%) hue-rotate(200deg);
}

.filter-opacity {
  filter: brightness(70%) opacity(80%);
}

.filter-invert {
  filter: brightness(70%) invert(70%);
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
               -1px 0 var(--background-color), 
               0 1px var(--background-color), 
               1px 0 var(--background-color), 
               0 -1px var(--background-color);
}

@supports((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  
  .card__image-label {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
} 

.card__text {
  line-height: 1.167em;
}

.card__buttons {
  align-self: end;
  display: grid;
  grid-template-columns:40px 130px;
  block-size: 38px;
  align-items: center;
  gap: 5px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-transparent);
  inline-size: 100%;
  block-size: 100%;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.like-icon {
  inline-size: 100%;
}

.heart {
  transform-origin: center;
}

.contour {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}

.main-body {
  fill: var(--accent-color-transparent);
  transition: fill 0.3s 0s linear;
}

.core {
  fill: var(--accent-color-transparent);
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  fill: var(--heart-main-color);
  opacity: 0;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s 0s linear;
}

.card__icon-button:active .main-body {
  fill: var(--heart-main-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .core {
  fill: var(--heart-main-color);
  transition: fill 0.3s 0s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-main-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-main-color);
  transition: fill 0.3s 0s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-main-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparkle 0.3s 0.3s ease-in;
}

.common-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border);
  text-transform: inherit;
  transition: box-shadow 0.3s ease;
}

.common-button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--background-color);
  transform-origin: 0 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  mix-blend-mode: difference;
}

.common-button:hover::after {
  transform: scaleX(1);
}

.common-button:focus {
  outline: none; 
}

.common-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__like-button {
  block-size: 38px;
}

.button__text {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
}

.save-button {
  gap: 8px;
  flex-wrap: wrap;
  padding: 15px;
  inline-size: var(--footer-width);
  margin: 50px 0 100px;
}

.save-button__icon {
  inline-size: var(--save-icon-size);
}

.save-dialog {
  grid-template-columns: 39px auto;
  column-gap: 20px;
  row-gap: 30px;
  align-items: center;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  inline-size: var(--save-dialog-width);
  padding: 30px var(--save-dialog-inline-gap);
}

.save-dialog[open] {
  display: grid;
}

.save-dialog::backdrop {
  background-color: var(--accent-color);
  opacity: 0.75;
}

.save-dialog__icon {
  inline-size: 100%;
}

.save-dialog__text {
  line-height: 1.5em;
}

.save-dialog__button {
  grid-column: span 2;
  block-size: 38px;
}