/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  /* Шрифты */
  --main-font: inter;
  --accent-font: 'PressStart2P';
  --main-text-weight: 400;
  --title-weight: 700;
  /* Размеры */
  --content-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --footer-width: 335px;
  --save-icon-size: 21px;
  --save-dialog-width: 357px;
  --save-dialog-inline-gap: 30px;
  /* Оформление */
  --page-background-color: #d3d3d3;
  --accent-color: #000;
  --accent-color-transparent: #0000;
  --background-color: #fff;
  --border: 2px solid var(--accent-color);
  --border-transparent: 2px solid var(--accent-color-transparent);
  --label-stroke-color: #fff;
  --heart-main-color: #F00;
  --background-gradient: 
                         repeating-linear-gradient(to right, #d3d3d3 0 2px, #d3d3d300 2px 4px),
                         repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
                         linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

@media (width <= 375px) {
  
  :root {
    --content-width: 100%;
    --footer-width: 306px;
    --save-icon-size: 28px;
    --save-dialog-width: 341px;
    --save-dialog-inline-gap: 41px;
  }
}